.wrapper {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #ccc;
    padding: 20px;
    width: 50%;
}
.content {
    padding: 10px;
    background: rgb(233, 233, 233);
}
.get-ip {
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    margin: 0 15px 15px 0;
}

.continent__value,
.country__value,
.region__value,
.city__value,
.district__value {
    font-weight: bold;
}
