
:root[theme='light']{
    --panel-bg-color: #dfe4ea;
    --bg-color: #f1f2f6;
    --text-color: #2f3542;
    --btn-color: #000;
    --btn-text-color: #fff;

}
:root[theme='dark'] {
    --panel-bg-color: #2c303b;
    --bg-color: #353941;
    --text-color: #ced6e0;
    --btn-color: #fff;
    --btn-text-color: #000;

}
body {
    background: var(--bg-color);
}
.btn-wrapper{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn{
    border: none;
    border-radius: 20px;
    min-width: 120px;
    padding: 7px;
    color: var(--btn-text-color);
    font-size: 14px;
    background-color: var(--btn-color);
    cursor: pointer;
}
.btn:active,
.btn:focus{
    outline: none;
}
input[type=button] {
    color: var(--text-color);
    background: var(--panel-bg-color);
    padding: 0.3rem;
    margin: 0.2rem;
    font-size: 1rem;
}
