

body {
    background-color: #15202b;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

.card {
    background-color: #192734;
    border-radius: 15px;
    padding: 35px;
    max-width: 500px;
    margin: 35px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: flex;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    line-height: 1.2;
}

.username {
    color: #8899a6;
    font-size: 14px;
}

.user-role {
    font-size: 12px;
    color: #8899a6;
}

.card-body {
    margin-top: 10px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #8899a6;
}

.card-footer-item {
    display: flex;
    align-items: center;
}

.icon {
    width: 18px;
    height: 18px;
    fill: #8899a6;
    margin-right: 5px;
}
